body {
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
    font-family: "Computer Modern Sans", Georgia, 'Times New Roman', Times, serif;
    /*color: #4cb69f; mint */
    /*color: #201d3a; deep purple */
}

#grid-container {
    display: grid;
    max-width: 800px;
    margin: 50px auto 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* #topL {    
} */

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}

#topR {
    border-left: 3px solid #4cb69f;
    line-height: 1.25;
    padding: 5px 5px 5px 25px;
    grid-column: 2/3;
    grid-row: 1/4;
}

h4 {
    margin: 0;
    font-weight: normal;
}

#older-podcasts {
    height: calc(152px * 3);
    overflow-y: scroll;
    /* margin: 0 0 0 10px; */
}

#bottomL {
    height: 225px;
    grid-column: 1/2;
    grid-row: 2/3;
}

#bottomL ul {
    list-style: none;
    margin: 25px 0;
    text-align: center;
    width: 60%;
}

#bottomL a {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    width: 100%;
    margin: 0 auto;
    color: black;
}

#bottomL a.active {
    background-color: #4cb69f;
    border-radius: 5px;
    color: white;
}

#bottomL a.visited {
    color: inherit;
}
