body {
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
    font-family: "Computer Modern Sans", Georgia, 'Times New Roman', Times, serif;
    /*color: #4cb69f; mint */
    /*color: #201d3a; deep purple */
}

#grid-container {
    display: grid;
    max-width: 800px;
    margin: 50px auto 0 auto;
    grid-template-columns: 1fr 9fr;
    grid-column-gap: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* #topL {    
} */

#topL button {
    width: 75px;
    height: 75px;
    background-color: #4cb69f;
    border-radius: 10px;
    border-width: thin;
}

#topL a {
    text-decoration: none;
    color: white;
}

#topR {
    border-left: 3px solid #4cb69f;
    line-height: 1.25;
    padding: 5px 5px 5px 15px;
    grid-column: 2/3;
    grid-row: 1/4;
}

#pwm-container {
    background-color: rgba(32, 29, 58,0.25);
    border-radius: 5px;
}


#pwm-container h4 {
    margin: 0;
}

.album-layout {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.album-layout img {
    width: 250px;
    border: 1px solid black;
}

.audio-layout {
    display: flex;
    justify-content: space-around;
}

.audio-layout button {
    background-color: #4cb69f;
    border-radius: 10px;
    border-width: thin;
    margin: 5px;
    padding: 5px;
}

.audio-layout button a {
    text-decoration: none;
    color: white;
}

.audio-layout audio {
    height: 25px;
    margin: 5px;
}